.mainBox {
    border-bottom: 1px solid #ebebeb;
}
.title {
    font-size: 28px;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
}
.btn {
    padding: 2px 6px;
    font-size: 18px;
    color: #4e555b;
    font-weight: lighter;
    text-transform: none;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 32px;
}